#Header{
    text-align: center; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline 3px rgb(182, 18, 45);
}


body{
    background-color: rgba(49, 30, 219, 0.582);
}

#SongHeader{
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Geneva,
      Verdana, sans-serif;
    
      font-style: italic;
      color: rgb(2, 1, 77);
}

#SongText{
    color: rgb(255, 0, 0);
    font-size: 20px;
    width: 300px;
}


